.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    background-color: grey;
    justify-content: center;
    align-items: center;
}

.a {
    display: grid;
    grid-template: 10% 0.5fr 0.5fr / 1fr 1fr 1fr;
    background-color: aqua;
    width: 30%;
    height: 50%;
}

.b {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: blue;
    width: 30%;
    height: 50%;
    flex-wrap: nowrap;
    overflow-y: scroll;
    gap: 60px;

}

.available-products-title-container {
    grid-column-start: span 3;
    border: solid;
}

.available-products-title {
    display: flex;
    justify-content: center;
    
}
