.app-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    margin: 1px 10%;
}


.items-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: blue;
    width: 50%;
}


.baskete-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: brown;
    width: 50%;
}

.items-list-title {
    height: 5%;
    background-color: grey;
}

.items-list {
    width: 100%;
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr / 1fr 1fr 1fr;
    height: 95%;
    background-color: coral;
}

.basket-title {
    height: 5%;
    background-color: darkmagenta;
}

.basket-list {
    display: flex;
    flex-direction: column;
    height: 95%;
    width: 100%;
    background-color: darkseagreen;
}



.product-in-basket {
    display: grid;
    grid-template: 0.1fr 0.5fr 0.1fr / 0.2fr 0.4fr 0.2fr 0.2fr 0.2fr 0.2fr ;
    background-color: pink;

}

img {
    width: 50px;
    height: 50px;
}

.item {
    display: grid;
    grid-template: 0.2fr 0.2fr 0.4fr 0.2fr / 0.4fr 0.1fr 0.1fr 0.4fr;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: solid;

}

.item > img {
    grid-row-end: span 2;
}

.item > .description {
    grid-column-end: span 4;
}

.item > .product-name {
    grid-column-end: span 3;
}

.item > .manufacturer-name {
    grid-column-end: span 3;
}

input {
    width: 25%;
}


.product-in-basket > .manufacturer-name-basket {
    grid-column-end: span 6;
}


.product-in-basket > .total {
    grid-column-end: span 7;
}

.change-quantity {
    display: flex;
    flex-direction: column;
}

