.app-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    margin: 1px 15%;
}


.items-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: blue;
    width: 50%;
}


.baskete-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: brown;
    width: 50%;
}

.items-list-title {
    height: 5%;
    background-color: grey;
}

.items-list {
    width: 100%;
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr / 1fr 1fr 1fr;
    height: 95%;
    background-color: coral;
}

.basket-title {
    height: 5%;
    background-color: darkmagenta;
}

.basket-list {
    display: flex;
    flex-direction: column;
    height: 95%;
    width: 100%;
    background-color: darkseagreen;
}



.product-in-basket {
    display: flex;
    flex-direction: row;
    background-color: pink;
    justify-content: space-between;
    align-items: center;
}

img {
    width: 50px;
    height: 50px;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}