
.app-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    border: 3px solid rgb(167, 167, 167);
    width: 190vh;
    
}




.items-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    flex-wrap: nowrap;
}


.baskete-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}


.basket-title {
    display: flex;
    flex-direction: row;
    height: 5%;
    width: 100%;
}





.items-list-title  {
    display: flex;
    flex-direction: row;
    height: 5%;
    width: 100%;
    align-self: flex-start;
    align-items: center;
    
}



.items-list {
    width: 100%;
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr / 1fr 1fr 1fr;
    height: 95%;
}


.basket-list {
    display: flex;
    flex-direction: column;
    height: 95%;
    width: 100%;
}


.item {
    display: grid;
    grid-template:  17% 17% 51% 15% / 35% 20% 20% 25% ;
    margin: 3%;
    border: 1.5px solid rgb(204, 204, 204);
}


.item > img {
    grid-row-start: span 2;
    height: 100%;
    width: 100%;
    border-right: 1.5px solid rgb(204, 204, 204);
    border-bottom: 1.5px solid rgb(204, 204, 204);
}

.item > .product-name {
    grid-column-start: span 3;
    text-align: center;
    margin: 10%;
    font-size: 88%;
    margin: 0;
    border-bottom: 1.5px solid rgb(204, 204, 204);

    
}

.item > .manufacturer-name {
    grid-column-start: span 3;
    text-align: center;
    margin-top: 5%;
    font-size: 88%;
    margin: 0;
    
    
}

.item > .description {
    margin: 0;
    height: 100%;
    grid-column-start: span 4;
    font-size: 88%;
    border-top: 1.5px solid rgb(204, 204, 204);
}


.item > .product-price {
    display: flex;
    align-items: center;
    height: auto;
    width: auto;
    text-align: start;
    font-size: 88%;
    margin: 0;
    border: 0;
    border-top: 1.5px solid rgb(204, 204, 204);

}

.item > input {
    height: auto;
    width: auto;
    padding: 0;
    border: 0;
    border-left: 1.5px solid rgb(204, 204, 204);
    border-top: 1.5px solid rgb(204, 204, 204);
    
    
}



.change-quantity {
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
    padding: 0;
    border: 0;
}


.change-quantity > button {
    padding: 0;
    width: 50%;
}


.add-to-basket {
    width: auto;
    padding: 0;
    height: auto;
    margin: 0;
}



.manufacturer-container {
    border: solid;
    display: grid;
    grid-template: 0.2fr 0.5fr 0.2fr/ 0.1fr 0.9fr;
    padding: 3%;
}



.product-in-basket {
    
    display: grid;
    grid-template: 1fr / 0.1fr 0.5fr 0.15fr 0.15fr 0.1fr 0.2fr ;

}

.quantity-basket {
    display: flex;
    flex-direction: column;
}

.total-manufacture {
   grid-column-end: span 4; 
}


